<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZENSHEET | Main</title>
</head>
<body>
    <header>
        <h1><a href="/">EZENSHEET</a></h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/template">TEMPLATE</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>    
        </nav>
    </header>
    <main>
        <section><h2>Main Section</h2></section>
        <section>
            <h2>Template List</h2>
            <ul>
                <li><a href="#">template1</a></li>
                <li><a href="#">template2</a></li>
                <li><a href="#">template3</a></li>
            </ul>
        </section>
        <section>
            <h2>무료템플릿 신청하기</h2>
            <p>지금 바로 신청하세요!</p>
            <div>
                <input type="text" placeholder="지메일 아이디 입력" />@gmail.com 
                <button type="submit">신청하기</button>
            </div>
        </section>
    </main>
    <footer>
        <h1>EZENSHEET</h1>
        <address>서울시 강남구 역삼로 558 안양빌딩 8층</address>
        <p>EMAIL : master@ezen-i.com</p>
        <p>COPYRIGHT Ⓒ EZEN ALL RIGHTS RESERVED.</p>
    </footer>
</body>
</html>